<hr>
<div class="container">
  <div class="row form-group">
      <div class="col-sm-12"><a href="/users" class="center-block"><img title="profile image" class="img-circle img-responsive center-block" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
      </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <input type="text" class="form-control" ng-model="searchText">
    </div>
  </div>
  <div class="row form-group" >
      <div class="col-sm-2 col-sm-offset-5">
        <button type="text" class="form-control input-normal btn-primary" ui-sref="homeSearch({searchText:searchText})">Buscar</button>
      </div>
  </div>
                        
    <div class="row">
      <div class="col-sm-3"><!--left col-->
       <div class="list-group">
            <a href="#"  class="list-group-item active"><strong>Centre</strong></a>
            <li ng-repeat="(centre,count) in (estudisFiltered | countGroups:tagsCount:'centre') " class="list-group-item text-right">
                <span class="pull-left"><input type="checkbox" ng-model="criteria.centre[centre]"><strong> {{centre}}</strong></span>{{count}}
            </li>
      </div>
       <div class="list-group">
            <a href="#"  class="list-group-item active"><strong>Preu</strong></a>
            <li ng-repeat="(preu,countP) in estudisFiltered | countGroups:tagsCount:'preu'" class="list-group-item text-right">
                <span class="pull-left"><input type="checkbox" ng-model="criteria.preu[preu]"><strong> {{preu}}</strong></span>{{countP}}
            </li>
      </div>            
       <div class="list-group">
            <a href="#"  class="list-group-item active"><strong>Poblacio</strong></a>
            <li ng-repeat="(poblacio,countP) in estudisFiltered | countGroups:tagsCount:'poblacio'" class="list-group-item text-right">
                <span class="pull-left"><input type="checkbox" ng-model="criteria.poblacio[poblacio]"><strong> {{poblacio}}</strong></span>{{countP}}
            </li>
      </div>      

  <div class="list-group">
   <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">
         Starter Website Package
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         Free Domain Name Registration
      </h4>
      <p class="list-group-item-text">
         You will get a free domain registration with website pages.
      </p>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         24*7 support
      </h4>
      <p class="list-group-item-text">
         We provide 24*7 support.
                              {{estudisFiltered}}
      </p>
   </a>
</div>

          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> 2.13.2014</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> Yesterday</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> Joseph Doe</li>
            
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
              <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
      <div class="col-sm-9">          
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <a ng-repeat="estudi in estudisFiltered = (estudis | searchFilter:criteria:'centre' | searchFilter:criteria:'poblacio' | filter:searchText )" href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">
                     {{estudi.nom}}
                  </h4>
                  <h6 class="list-group-item-heading">
                     {{estudi.centre}}
                  </h6>
                  <p class="list-group-item-text">
                     {{estudi.descripcio}}
                     ...
                  </p>
               </a>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">               
               <h2></h2>               

               <ul class="list-group">
                  <li class="list-group-item text-muted">Inbox</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  
                </ul> 
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">                                
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                </form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
