<hr>
<div class="container">
	<div class="row">
  		<div class="col-sm-10"><h1>Legionella</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    
          
    <div class="row">
    	<div class="col-sm-11">
          <div class="tab-content">
             <div class="tab-pane active" id="general">            		               	
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Cuando se realizo la última limpieza</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="nombre" title="enter your first name if any.">
                          </div>
                      </div>                  
                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Cuantas campanas tiene la cocina</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="nombre" title="enter your first name if any.">
                          </div>
                      </div>                  
                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Localización de la turbina</h4></label>
                              <select class="form-control">
                                  <option value="one">Campana</option>
                                  <option value="two">Altillo</option>
                                  <option value="three">Almacén</option>
                                  <option value="four">Tejado</option>
                                  <option value="five">Otros</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Tipo de chimenea</h4></label>
                              <select class="form-control">
                                  <option value="one">Barbacoa de carbón</option>
                                  <option value="two">Horno de leña de pizzas</option>
                                  <option value="three">Cocina</option>
                                  <option value="five">Otros</option>
                              </select>
                          </div>
                      </div>                      
                      <div class="form-group">                          
                          <div class="col-xs-12">
                            <label class="checkbox">                
                                  <input type="checkbox" ng-model="myModel.optionB"><h4>Dispone de equipo de extinción de incendios automática</h4>
                             </label>
                          </div>
                      </div>    
                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Horario de la instalación</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="nombre" title="enter your first name if any.">
                          </div>
                      </div> 
                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Que día se puede realizar la limpieza</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="nombre" title="enter your first name if any.">
                          </div>
                      </div> 

                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Día de descanso del personal</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="nombre" title="enter your first name if any.">
                          </div>
                      </div> 

                      <div class="form-group">                          
                          <div class="col-xs-12">
                              <label for="first_name"><h4>Se realizará por</h4></label>
                              <select class="form-control">
                                  <option value="one">Mañana</option>
                                  <option value="two">Tarde</option>
                                  <option value="three">Noche</option>
                              </select>
                          </div>
                      </div>  
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Guardar</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reiniciar</button>
                            </div>
                      </div>
              	</form>
              </div>
               
              </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
