    <p>.</p>
    <div class="row">
           <div class="col-md-12 column ">
           <span class="pull-right">
           		<button class="btn" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
           		<button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button> 
           </span>
				
				
          </div>
    </div>          
    <div class="row">          
          <div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>#</th>
						<th>Formulario</th>
						<th>Descripción</th>
						<th>Usuario</th>
						<th>Fecha</th>
						<th>Estado</th>												
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat-start="linea in offer.formularios" ng-class="linea.estado" ng-click="switchSelectLine(linea.num);">
							<td><input type="checkbox" ng-model="myModel.optionA"></td>
							<td>{{linea.num}}</td>
							<td>{{linea.formulario}}</td>
							<td>{{linea.descripcion}}</td>
							<td>{{linea.usuario}}</td>
							<td>{{linea.fecha}}</td>
							<td>{{linea.estado}}</td>
						<tr ng-repeat-end ng-show="linea.num==selectedLine">
							<td colspan="6">
						    <div class="row">
							    <div class="form-group col-xs-6">
							          <label for="code">Servicio</label>
							          <button type="text" class="form-control input-normal">{{linea.descripcion}}</button>
							        </div>
							    </div>
							 </div>
						     <div class="row">						        
							    <div class="form-group col-xs-6">
							          <label for="code">Precio</label>
							          <input type="text" class="form-control input-normal" ng-model="linea.precio"/>
							        </div>
							    </div>						   
						    </div>		
						    <div class="row">						        
							    <div class="form-group col-xs-6">
							          <label for="code">Descuento</label>
							          <input type="text" class="form-control input-normal" ng-model="linea.descuento"/>
							        </div>
							    </div>						   
						    </div>	
						    <div class="row">				        
	           					<div class="col-md-12 column">
	           					    <span class="pull-right">  
				                        <button class="btn" type="submit"><i class="glyphicon glyphicon-arrow-left"></i> Volver</button>
										<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i> Guardar</button>
									</span>
	         					</div>
							</div>	         					
							</td>
						</tr>
				</tbody>
			</table>
          </div>
	</div>
