

<div class="container">
    <p>.</p>
        <p>.</p>
            <p>.</p>

  <p>
  <div class="row">
    <span class="pull-right">  
      <button class="btn btn-lg" type="submit"><i class="glyphicon glyphicon-arrow-left"></i> Volver</button>
      <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i> Guardar</button>
    </span>
   </div>
  </p>

<div class="row">
 <div class="col-md-6">
  <h3>{{title}}</h3>
 </div>
</div>
    <div class="row">
        <div class="form-group col-xs-6">
          <button class="btn btn-warning" type="submit"><i class="glyphicon"></i> {{offer.estado}}</button>
        </div>        
    </div>

    <div ng-repeat="field in fields" class="row">       
       <div class="form-group col-xs-6" ng-if="field.type=='date'">
          <label for="code">{{field.title}}</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="offer[field.name]" is-open="fechaInicio" max-date="'2025-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,field.name)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>  
      <div class="form-group col-xs-6" ng-if="field.type=='link'">
        <label for="code">{{field.title}}</label>
        <button type="submit" class="form-control" >{{offer[field.name]}}</button>
      </div>    
      <div class="form-group col-xs-12" ng-if="field.type=='text'">
          <label for="code">{{field.title}}</label>
          <input type="text" class="form-control" ng-model="offer[field.name]">
      </div>    
    </div>

  <hr/>

<tabset>
  <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled">
    <tab-heading>
      <a ui-sref="{{tab.template}}">{{tab.title}}</a>
    </tab-heading>
  </tab>
</tabset>
<div class="row">
    <div ui-view="subView"></div>
     . 
</div>
<hr />
</div>